<div class="container" *ngIf="isLoggedIn(); else LoggedIn">
    <button 
        mat-button
        class="mat-dialog-btn" 
        (click)="authService.GoogleAuth()" 
        [mat-dialog-close]>
        <div class="wrapper">
            <p>Conect Google Search Console</p>
        </div>
    </button>
    <div class="container-discription">
        <img src="../../../assets/lock.jpg" alt="">
        <p>Secure API connection. Only keywords and their position will be accessible to the platform. No other access right</p>
    </div>
  </div>

<ng-template #LoggedIn class="container">
      
       <table>123</table>
    
</ng-template>