<div class="container" *ngIf="isLoggedIn(); else LoggedIn">
    <button 
        mat-button
        class="mat-dialog-btn" 
        (click)="authService.GoogleAuth()" 
        [mat-dialog-close]>
        <div class="wrapper">
            <p>Conect Google Search Console</p>
        </div>
    </button>
    <div class="container-discription">
        <img src="../../../assets/lock.jpg" alt="">
        <p>Secure API connection. Only keywords and their position will be accessible to the platform. No other access right</p>
    </div>
  </div>

<ng-template #LoggedIn class="container-dashboard">
  <mat-form-field>
    <mat-label>Select Domen</mat-label>
    <mat-select (selectionChange)="selectDomen($event)" [(ngModel)]="selectedDomain">
      <mat-option *ngFor="let domen of domenList" [value]="domen">
        {{domen}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button 
    class="mat-raised-button"
    [disabled]="!tableData.length || counterWeeks<2"
    (click)="fetchPrevious10DaysData(selectedDomain)"
  >
  Previous 10 days</button>
  <button mat-raised-button 
    class="mat-raised-button" 
    [disabled]="!tableData.length"
    (click)="fetchNext10DaysData(selectedDomain)"
  >Next 10 days</button>

      <ng-container *ngIf="tableData.length > 0; else loader">
        <table mat-table [dataSource]="tableData">

          <ng-container matColumnDef="key" sticky>
            <th mat-header-cell *matHeaderCellDef>Keywords</th>
            <td mat-cell *matCellDef="let element">{{ element.key }}</td>
          </ng-container>
          <ng-container matColumnDef="impressions">
            <th mat-header-cell *matHeaderCellDef>impressions</th>
            <td mat-cell *matCellDef="let element">{{ element.impressions }}</td>
          </ng-container>
          
  
          <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef cdkDragHandle sticky >{{ column | date:"dd.MM"}}</th>
            <td mat-cell 
              *matCellDef="let element"
              style="text-align: center;"
              [ngClass]="{
                'green-background': element[column] >= 1 && element[column] < 3,
                'yellow-background': element[column] >= 3 && element[column] < 10,
                'red-background': element[column] >= 10
              }"
              >
            {{ element[column] }}</td>
          </ng-container>
          
          <tr mat-header-row *matHeaderRowDef="keyColumns; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: keyColumns;"></tr>
        </table>
      </ng-container>
</ng-template>

<ng-template #loader>
  <!-- Отображение лоадера, когда нет данных -->
  <ng-container *ngIf="selectedDomain">
    <mat-spinner></mat-spinner>
  </ng-container>
</ng-template>