// Ваш компонент или элемент, содержащий кнопку
.container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    height: 100vh; // Устанавливаем высоту, чтобы занять всю видимую высоту экрана
    background-color: #f0f0f0; // Серый цвет фона
      // Стили для кнопки
    .mat-dialog-btn {
        height: 50px;
        text-align: center;
        background-color: rgb(97, 97, 97); // Серый цвет фона кнопки
        border: 4px solid  rgb(97, 97, 97); // Убираем границу кнопки
        border-radius: 10px ;
        margin: 10px;
        padding: 10px 20px; // Размеры отступов
        cursor: pointer; // Устанавливаем указатель на кнопку
        p{
            margin: 0;
            color: white; // Белый цвет текста на кнопке
        }
    }
    .container-discription{
        display: flex;
        flex-direction: row;
        width: 277px;
        img{
            margin: 10px;
            height: 20px;
            width: 20px;
        }
        p{
            font-size: 12px;
            color: grey;
        }
    }
  }

  
  // Стили для вложенного элемента p
  .wrapper {
    text-align: center; // Выравниваем текст по центру
  }
  table{
    margin: 0 auto;
  }
  .mdc-data-table__table{
    min-width: 0;
  }

  .example-container {
    margin: 0 auto;
    height: 90vh;
    width: 90vw;
    max-width: 100%;
    overflow: auto;
  }
  
  table {
    width: 800px;
  }
  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  
  th.mat-column-position, td.mat-column-position {
    padding-left: 8px;
  }
  
  .mat-mdc-table-sticky-border-elem-right {
    border-left: 1px solid #e0e0e0;
  }
  
  .mat-mdc-table-sticky-border-elem-left {
    border-right: 1px solid #e0e0e0;
  }

  .mat-header-cell.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white; /* Установите цвет фона, который вам нужен */
  }