<div class="container" *ngIf="isLoggedIn(); else LoggedIn">
    <button 
        mat-button
        class="mat-dialog-btn" 
        (click)="authService.GoogleAuth()" 
        [mat-dialog-close]>
        <div class="wrapper">
            <p>Conect Google Search Console</p>
        </div>
    </button>
    <div class="container-discription">
        <img src="../../../assets/lock.jpg" alt="">
        <p>Secure API connection. Only keywords and their position will be accessible to the platform. No other access right</p>
    </div>
  </div>

<ng-template #LoggedIn class="container-dashboard">
      
      <table mat-table [dataSource]="tableData">

        <ng-container matColumnDef="key" sticky>
          <th mat-header-cell *matHeaderCellDef>Keywords</th>
          <td mat-cell *matCellDef="let element">{{ element.key }}</td>
        </ng-container>

        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
          <th mat-header-cell *matHeaderCellDef cdkDragHandle sticky >{{ column | date:"MM.dd"}}</th>
          <td mat-cell 
            *matCellDef="let element"
            style="text-align: center;"
            [ngClass]="{
              'green-background': element[column] >= 1 && element[column] < 3,
              'yellow-background': element[column] >= 3 && element[column] < 10,
              'red-background': element[column] >= 10
            }"
            >
          {{ element[column] }}</td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="keyColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: keyColumns;"></tr>
      </table>
    
</ng-template>