section {
    display: flex;
    width: 100vw;
    background-color: rgba(105, 74, 74, 0.189);
    justify-content: space-between;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
    margin-right: 15px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .sticky-button-container {
    position: fixed; /* Зафиксировать элемент */
    top: 10px; /* Отступ сверху */
    left: 10px; /* Отступ слева */
    z-index: 9999; /* Установите z-index, если это необходимо */
  }
  